{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid main-container" style="margin-top:50px">

        <div>
             SEARCH FORM DISABLED
             {{ include('packagist/_form.html.twig') }}
        </div>

        <div id="output" class="container"></div>

        <div class="my-5">
            <h3>
                Available modules
                <small class="text-muted">- source: (packagist.org)</small>
            </h3>
            <div class="table-responsive">
                <table id="availableModules" class=" table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Url</th>
                        <th scope="col">Downloads</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>#</td>
                            <td>{{ item.name }}</td>
                            <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                            <td>{{ item.downloads }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        (function () {
            var output = document.getElementById('output');
            document.getElementById('sendSearchForm').onclick = function () {
                //var npiNumber = document.getElementById('npiNumber').value;
                var searchTerm = document.getElementById('searchTerm').value;
                console.log(searchTerm);


                axios.post('/interface/modules/custom_modules/oe-module-demo-farm-add-ons/api/search', {

                        'searchTerm': searchTerm
                    }, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                    .then(function (res) {
                        output.className = 'container';
                        output.innerHTML = res.data;
                        console.log(res.data)
                    })
                    .catch(function (err) {
                        output.className = 'container text-danger';
                        output.innerHTML = err.message;
                    });
            };
        })();
    </script>
{% endblock %}